# Ignore cloned repos
DSL/
proxy/
server/
shared
logs/
data/
.vscode

# Python
__pycache__/
*.pyc
*.pyo

# Env files (optional, om du inte vill committa .env)
# .env

# OS junk
.DS_Store
Thumbs.db
docs