# Ignore cloned repos
DSL/
proxy/
server/
shared
logs/
data/
data/client/
dbc/
maps/
db2/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo

# Env files (optional, om du inte vill committa .env)
# .env
docker/.generated.env

# OS junk
.DS_Store
Thumbs.db
docs
memory
.codex
.agents
.pytest_cache/